.main-layout {
  .footer,
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header,
  .footer {
    color: white;
  }
  .content {
    padding: 0 50px;
  }
  .footer {
    background-color: #001529;
  }
}
